
{% extends 'base.html' %}

{% load static %}

<head>
    <title> {% block title %} Recipes {% endblock title %} </title>
</head>

{% block content %}

    <section class="recipe-section spad">
        <div class="container">
            <main>
                <article>
                {% if recipes %}
                <section>
                    <div class="row">

                    {% for rec in recipes %}
                <div class="col-lg-4 col-sm-6" >
                    <div class="recipe-item">
                        <a href="{%url 'recipe-detail' RecipeID=rec.id%}"><img src={{ rec.image.url}} alt=""></a>
                        <div class="ri-text">
                            <a href="#">
                                <h4>{{ rec.name }}</h4>
                            </a>
                            <p> {{ rec.description }} </p>       </div>
                    </div>
                </div>

                    {% endfor %}
                        {% else %}
        <p>No Recipes yet.</p>
        {% endif %}

                    </div></section>
            </article>
            </main>



            </div>

        </div>
    </section>



{% endblock content %}